<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <form action="/api/v1/users" method="post" th:object="${userRequestDto}">
        <label>First name: <input type="text" th:field="*{firstName}"/></label>
        <label>Last name: <input type="text" th:field="*{lastName}"/></label>
        <label>Username: <input type="text" th:field="*{username}"/></label>
        <label>Password: <input type="password" th:field="*{password}"/></label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>